body {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}



#app {
    width: 100%;
}

#app-header {
    background-color: #ffffff;
    padding: 5px;
}

#app-header a {
    text-decoration: none;
    color: #000;
}

#app-header a:hover {
    color: #000;
    cursor: pointer;
}

#app-header a:visited {
    color: #000;
}

#app-info {
    display: flex;
    align-items: center;
}

.app-logo {
    height: 40px;
    margin-right: 1rem;
}

#app-footer {
    background-color: #ffffff;
    border-top: #ffffff 1px solid;
    font-size: 75%;
    text-align: center;
    opacity: 0.7;
    padding: 1rem;
}

/* Icon Button styles */

svg.external-link {
    font-size: 0.8rem;
    color: #707070;
    padding-left: 5px;
}

/* Table styles */
table {
    margin-bottom: 2rem;
    padding: 0.5rem;
}

thead {
    margin-bottom: 0.5rem;
}

tbody {
    border: 1px solid rgb(136, 193, 231);
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

tr {
    padding: 0.5rem;
}

tr:nth-child(even) {
    background-color: rgba(136, 193, 231, 0.3);
}

